.body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;
}

/* TOP */

.header {
  display:flex;
  height: 150px;
  justify-content: center;
  background-color: #fcefb4;
  
}

nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  
  
 }

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-left: -15px;
}

a {
  font-size: 20px;
  color: #1c1c1c;
  padding: 20px;
  font-family: 'Roboto', arial;
  font-weight: bold;

  
}


/* hero */

.hero-info {
  display: flex;
  background-color: #fcefb4;
  height: 600px;
  justify-content: center;
  align-content: center;
  
}


.hero-text h1{
  font-size: 80px;
  font-family: 'Roboto', arial;
  font-weight: bold;
  color: #1c1c1c;
  margin-left:8px;
  max-width: 600px;
  
}

.hero-text p{
  font-size: 20px;
  font-family: 'Roboto', arial;
  font-weight: bold;
  color: #1c1c1c;
  margin-left:12px;
  max-width: 400px;
}

.hero-text button{
  display:block;
  margin-left:12px;
  font-size: 20px;
  font-weight: bold;;
  font-family:'Roboto', Arial;
  background-color: #ffff;
  padding:20px 50px 20px 50px;
  border-radius: 25px;
  border-color: #1c1c1c;

}

.hero-image {
display:flex;
margin-left:-50px;
margin-top:60px;
 
}

.hero-image img{
  border-radius: 25px;
}


/* types */

.thetypes {
  display:flex;
  justify-content: center;
  height:90px;
  background-color: #fcefb4;
  
}

.thetypes h2 {
  display: flex;
  font-size:50px;
  font-family:'Roboto', arial;
  color:#1c1c1c;
  justify-content: center;
  
}

.boxes{
  display: flex;
  justify-content: center;
  background-color: #fcefb4;
  height:600px;
}


.first {
  float:left;
  margin:50px;
}

.first h3{
  font-size: 20px;
  font-family:'Roboto', Arial;
  color:#1c1c1c;
  display: flex;
  justify-content: center;
  
}

.firstimage{ 
  padding: 20px;
  border-radius: 25px;
  background-color: #fcefb4;
}

.firstimage img{
  border-radius: 25px;
}

.second{
  float: left;
  margin:50px;
}

.second h3{
  font-size: 20px;
  font-family:'Roboto', Arial;
  color:#1c1c1c;
  display: flex;
  justify-content: center;
}

.secondimage{ 
  padding: 20px;
  border-radius: 25px;
  background-color: #fcefb4;
}

.secondimage img{
  border-radius: 25px;
}

.third {
  float:left;
  margin:50px;

}

.third h3{
  font-size: 20px;
  font-family:'Roboto', Arial;
  color:#1c1c1c;
  display: flex;
  justify-content: center;
}

.thirdimage{ 
  padding: 20px;
  border-radius: 25px;
  background-color: #fcefb4;
}

.thirdimage img{
  border-radius: 25px;
}

/* quote */

.content {
  display: flex;
  background-color: #ffff;
  padding: 70px;
  height:100px;

}

.quote {
  font-size: 30px;
  font-style: italic;
  font-family:'Roboto', Arial;
  color:#1c1c1c;
  margin: 0;
}

.quote h4{
  font-size: 20px;
  font-style: italic;
}



/* CTA */

.CTA {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.CTA-text h2 {
  display:flex;
  max-width: 500px;
  font-size: 30px;
  
  margin-left: 100px;
  font-family:'Roboto', Arial;
  color:#1c1c1c;
  text-align: center;
}

.CTA-text p {
  font-size: 20px;
  max-width: 500px;
  margin-left: 100px;
  font-family:'Roboto', Arial;
  color:#1c1c1c;
  text-align: center;
}



.CTA-text button{
  display:flex;
  margin-left: 256px;
  font-size: 20px;
  font-weight: bold;;
  color:#1c1c1c;
  font-family:'Roboto', Arial;
  background-color: #fcefb4;
  padding:20px 50px 20px 50px;
  border-radius: 25px;
  border-color: #1c1c1c;

}

.ctaimage {
  display:flex;
}

.ctaimage img{
  border-radius: 25px;

}
/* footer */

.Footer {
  display: flex;
  background-color: #fcefb4;
  height: 100px;
  justify-content: center;
}

.Footer h4{
  display:flex;
  font-size: 20px;
  font-weight: bold;
  color: #1c1c1c;
  font-family:'Roboto', Arial;
  align-items: center;
  justify-content: center;
}
